html,body{
    background-image: url('/images/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
a{
    margin-right: 35px;

 }


